// Colours
$primary-font: Helvetica, sans-serif;
$light-grey: #EDEDED;
$dark-grey: #4f4f4f;
$orange: #EF672F;
$grey: #CECECE;
$blue: #0C428E;
$font-black: #343434;
$black: #333333;

// Measurements
$container-width: 1000px; // Width of all grid/sections
